@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model IList<dvd_rental_app.Models.Movie>

@{
    ViewData["Title"] = "Movie List";
}
<h1 class="mb-3">@ViewData["Title"]</h1>

@if (SignInManager.IsSignedIn(User))
{
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Top cast</th>
            <th>Release date</th>
            <th>Genre</th>
        </tr>
        @for (var item = 0; item < Model.Count; item++)
        {
            <tr>
                <td>
                    <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@Model[item].MovieId">@Model[item].MovieId</a>
                </td>
                <td>@Model[item].Title</td>
                <td>@Model[item].Cast</td>
                <td>@Model[item].ReleaseDate</td>
                <td>@Model[item].Genre</td>
            </tr>
        }
    </table>
}
else
{
    <p>Please log in to view this page.</p>
}
